@using Entities.Dtos.Menus
@model IEnumerable<MenuDto>

<body>

    <li class="nav-item">
        @foreach (var item in Model)
        {
            <a href="@item.Url" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt">@item.Icon</i>
                <p>
                    @item.Name
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>

            if (item.Childs != null)
            {
                foreach (var itemMenuDto in item.Childs)
                {
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@itemMenuDto.Url" class="nav-link">
                                <i class="far fa-circle nav-icon">@item.Icon</i>
                                <p>@itemMenuDto.Name</p>
                            </a>
                        </li>
                    </ul>
                }
            }
        }
    </li>

</body>